<mat-card [ngStyle]="styles.MatCard">
    <mat-grid-list [ngStyle]="styles.MatGrid" rowHeight="60px" cols="5">
        <mat-grid-tile [ngStyle]="styles.MatGridTileHeading" [colspan]="2" [rowspan]="1">
            Home
        </mat-grid-tile>
        <mat-grid-tile [ngStyle]="styles.MatGridTileHeading" [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [ngStyle]="styles.MatGridTileIcon" [colspan]="1" [rowspan]="1">
            <i class="fas fa-heart"></i>
        </mat-grid-tile>
        <mat-grid-tile [ngStyle]="styles.MatGridTileIcon" [colspan]="1" [rowspan]="1">
            <i class="fas fa-marker"></i>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>